---
Checks: "-*,\
boost-*,\
bugprone-*,\
-bugprone-assignment-in-if-condition,\
-bugprone-branch-clone,\
-bugprone-easily-swappable-parameters,\
-bugprone-implicit-widening-of-multiplication-result,\
-bugprone-incorrect-roundings,\
-bugprone-integer-division,\
-bugprone-macro-parentheses,\
-bugprone-misplaced-widening-cast,\
-bugprone-narrowing-conversions,\
-bugprone-reserved-identifier,\
-bugprone-signed-char-misuse,\
-bugprone-exception-escape,\
-bugprone-switch-missing-default-case,\
clang-analyzer-*,\
-clang-analyzer-core.CallAndMessage,\
-clang-analyzer-core.uninitialized.Assign,\
-clang-analyzer-optin.cplusplus.VirtualCall,\
-clang-analyzer-security.insecureAPI.strcpy,\
misc-*,\
-misc-const-correctness,\
-misc-confusable-identifiers,\
-misc-use-anonymous-namespace,\
-misc-include-cleaner,\
modernize-*,\
-modernize-avoid-c-arrays,\
-modernize-loop-convert,\
-modernize-macro-to-enum,\
-modernize-return-braced-init-list,\
-modernize-use-auto,\
-modernize-use-trailing-return-type,\
-modernize-use-emplace,\
mpi-*,\
openmp-*,\
performance-*,\
-performance-avoid-endl,\
portability-*,\
readability-*,\
-readability-braces-around-statements,\
-readability-else-after-return,\
-readability-identifier-length,\
-readability-function-cognitive-complexity,\
-readability-function-size,\
-readability-implicit-bool-conversion,\
-readability-isolate-declaration,\
-readability-magic-numbers,\
-readability-named-parameter,\
-readability-non-const-parameter,\
-readability-qualified-auto,\
-readability-simplify-boolean-expr,\
-readability-uppercase-literal-suffix,\
-readability-redundant-member-init,\
-readability-container-data-pointer,\
-readability-redundant-control-flow,\
"
